RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^index/?$ index.php [NC,L]
RewriteRule ^g1/?$ g1-page.php [NC,L]
RewriteRule ^r7/?$ r7-page.php [NC,L]
RewriteRule ^ig/?$ ig-page.php [NC,L]
RewriteRule ^uol/?$ uol-page.php [NC,L]
RewriteRule ^terra/?$ terra-page.php [NC,L]
RewriteRule ^folha/?$ folha-page.php [NC,L]
RewriteRule ^jb/?$ jb-page.php [NC,L]
RewriteRule ^bbc/?$ bbc-page.php [NC,L]
RewriteRule ^estadao/?$ estadao-page.php [NC,L]
RewriteRule ^yahoo/?$ yahoo-page.php [NC,L]